{% extends 'base.html' %}

{% block title %}
    <title>All Products</title>
{% endblock %}

{% block contain %}
    <div class="container">

        {% for product in products %}
            <a href="{% url 'products-details' product.pk %}"><h1>{{ product.title }}</h1></a>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="">
            {% endif %}
        {% endfor %}
        <br>
    </div>
{% endblock %}