{% extends 'base.html' %}

{% block title %}
    <title>All Products</title>
{% endblock %}

{% block contain %}
    <div class="container">
        <div class='row'>
            <div class="col-12 col-md-6">
                <h1>{{ product.title }} Detail View</h1>
                <a href="#"><h1>{{ product.title }}</h1></a>
                <p>{{ product.description|linebreaks }}</p>
                <p>{{ product.price }}</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="">
                {% endif %}
                <a href="{% url 'products-list' %}">Back</a>
                <br>
            </div>
            <div class='col-12 col-md-6'>
                {% include 'products/snippets/update-cart.html' with product=product cart=cart %}
            </div>
        </div>

    </div>
{% endblock %}