{% extends 'base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block contain %}
    <div class="container">
        <h1>My Cart:</h1>
        {% if cart.products.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Title</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart.products.all %}
                         <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'products-details' product.slug %}">{{ product.title }}</a>
                                <small>{% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True%}</small>
                            </td>
                            <td>{{ product.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td><b>Subtotal: {{ cart.subtotal }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><b>Total: {{ cart.total }}</b></td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p class="lead">Cart is empty</p>
        {% endif %}

    </div>
{% endblock %}