{% extends 'base.html' %}

{% block title %}
    <title>Checkout</title>
{% endblock %}

{% block contain %}
    <div class="container">
        {{ object.order_id }} || {{ object.cart }}
        {% if not billing_profile %}
            <div class="row text-center">
                <div class="col-12 col-md-6">
                    <p class="lead">Login</p>
                    {% include 'carts/snippets/login_form.html' with form=login_form next=request.path %}
                </div>
                <div class="col-12 col-md-6">
                    Continue as Guest
                    {% url 'guest_register' as guest_register_url %}
                    {% include 'carts/snippets/login_form.html' with form=guest_form next=request.path action_url=guest_register_url %}

                </div>
            </div>

        {% else %}
            {{ object.shipping_address }}
            {{ object.billing_address }}
            {% if not object.shipping_address %}
                <div class="row">
                    <div class="col-md-6 mx-auto col-10">

                        <p class="lead">Shipping Address</p>
                        <hr>
                        {% url 'checkout_address_create' as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next=request.path action_url=checkout_address_create address_type='shipping'%}
                    </div>
                </div>
            {% elif not object.billing_address %}
                <div class="row">
                    <div class="col-md-6 mx-auto col-10">
                        <p class="lead">Bolling Address</p>
                        <hr>
                        {% url 'checkout_address_create' as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next=request.path action_url=checkout_address_create address_type='billing'%}
                    </div>
                </div>
            {% else %}
                <h1>Finalize Checkout</h1>
                <p>Cart Total: {{ object.cart.total }}</p>
                <p>Shopping Total: {{ object.shipping_total}}</p>
                <p>Order Total: {{ object.total}}</p>
                <button>Check out</button>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}