{% extends 'base.html' %}

{% block title %}
    <title>Checkout</title>
{% endblock %}

{% block contain %}
    <div class="container">
        {% if not billing_profile %}
            <div class="row text-center">
                <div class="col-12 col-md-6">
                    <p class="lead">Login</p>
                    {% include 'carts/snippets/login_form.html' with form=login_form next=request.path %}
                </div>
                <div class="col-12 col-md-6">
                    Continue as Guest
                    {% url 'guest_register' as guest_register_url %}
                    {% include 'carts/snippets/login_form.html' with form=guest_form next=request.path action_url=guest_register_url %}

                </div>
            </div>

        {% else %}
            <h1>Checkout</h1>
            <p>Cart Total: {{ object.cart.total }}</p>
            <p>Shopping Total: {{ object.shipping_total}}</p>
            <p>Order Total: {{ object.total}}</p>
        {% endif %}

    </div>
{% endblock %}